<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Produto</title>
</head>
<body>
    <h1>Adicionar novo produto</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Nome:</label><br>
        <input type="text" name="nome"><br><br>

        <label>Preço:</label><br>
        <input type="text" name="preco"><br><br>

        <label>Descrição:</label><br>
        <textarea name="descricao"></textarea><br><br>

        <label>Imagem:</label><br>
        <input type="file" name="imagem"><br><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>

